<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Blog Oluştur</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>         
        </div>
        <form action="{% url 'home-view' %}" method="post">

          {% csrf_token %}

        <div class="modal-body">

            <div class="mb-3">
              <input name="post_author" type="text" class="form-control" placeholder="Adınız">

            </div>
             <div class="mb-3">
                  <textarea name="post_içerik" class="form-control blogText " placeholder="Post İçeriği"></textarea>
             </div>

             <div class="mb-3">
                 <input name= "post_içerik_resim" type="file" class="form-control">

             </div>

        </div>

        <div class="modal-footer">

          <button type="submit" class="btn btn-primary">Oluştur</button>
        </div>

        </form>
      </div>
    </div>
  </div>